html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'), url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'), url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0 0;
}

ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.title {
  font-weight: 400;
  font-size: 48px;
  color: #333333
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
}

.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #333333;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* header */

.header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__burger {
  display: none;
}

.header__container {
  display: flex;
}

.header__logo {
  margin: 14px auto 14px 75px;
  flex-shrink: 0;
}

.header__nav {
  max-width: 708px;
  width: 100%;
  height: 24px;
  margin: 39px 85px 39px auto;
}

.header__list {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
}

.header__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.header__searchspot {
  margin: auto 75px auto 0px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.header__searchspot--active {
  margin: auto 75px auto 0px;
  display: flex;
  flex-direction: row;
  max-width: 539px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.header__icon_closed {
  display: none;
  margin-left: 20px;
}

.search__input {
  display: none;
}

.search__input--active {
  display: inline-block;
  max-width: 412px;
  margin-left: 32px;
  margin-right: 14px;
  border: none;
  border-bottom: 1px solid #DCDCDC;;
  height: 27px;
  margin-top: 16px;
  color: #ADADAD;
  font-weight: 500;
  font-size: 18px;
}

.header__icon_closed--active {
  display: inline-block;
  margin-right: 13px;
}

/* main */

.main__container {
  padding: 0 75px;
}

/* preview */

.preview {
  max-width: 1770px;
  height: 620px;
  margin-bottom: 100px;
  overflow: hidden;
}

.swiper-wrapper {
  max-width: 1770px;
  height: 620px;
}

.swiper-container {
  max-width: 1770px;
  height: 620px;
}

.swiper-slide {
  max-width: 1770px;
  height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-pagination {
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

.swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 10px;
  margin-left: 10px;
}

.preview__container {
  position: relative;
}

.preview__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  pointer-events: none;
}

.preview__title {
  display: inline-block;
  max-width: 837px;
  height: 170px;
  margin: 100px auto 24px 80px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.preview__descr {
  display: block;
  max-width: 790px;
  max-height: 58px;
  margin: 0 auto 90px 80px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 29px;
}

.preview__btn {
  width: 280px;
  height: 78px;
  background-color: #FF9900;
  font-weight: 700;
  font-size: 23.4581px;
  color: #FFFFFF;
  margin-left: 80px;
  transition: background 1s ease-out;
  pointer-events: visible;
}


/* about */

.about {
  max-width: 1770px;
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 20px;
  line-height: 59px;
}

.about__descr {
  margin-bottom: 50px;
  max-width: 1235px;
}

.about__list {
  display: flex;
}

.about__item_left {
  position: relative;
  background-image: url('../img/about/card.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 868px;
  width: 100%;
  margin-right: 32px;
}

.about__item_alpha {
  position: absolute;
  display: flex;
  justify-content: space-between;
  max-width: 868px;
  padding: 50px 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.about__item_alpha::before {
  content: '';
  position: absolute;
  display: block;
  background-image: url('../img/about/card2.png');
  min-height: 196px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.about__descr_alpha {
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  max-width: 454px;
  z-index: 1;
}

.about__btn {
  padding: 20px 38px;
  border: 3px solid #FF9900;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  max-width: 175px;
  max-height: 60px;
  margin-top: 18px;
  transition: background 1s ease-out;
  z-index: 1;
}

.about__list_right {
  display: flex;
  flex-direction: column;
}

.about__item_right {
  padding-right: 116px;
  padding-bottom: 65px;
  max-width: 870px;
  min-height: 295px;
  border: 1px solid #CACACA;
}

.about__item_right:not(:last-child) {
  margin-bottom: 32px;
}

.about__subtitle {
  margin-top: 65px;
  margin-left: 300px;
  margin-bottom: 8px;
}

.about__item_descr {
  margin-left: 300px;
  max-width: 450px;
}

.right__item_boximg {
  background-image: url('../img/about/box.svg');
  background-repeat: no-repeat;
  background-position: 60px 65px;
}

.right__item_setimg {
  background-image: url('../img/about/set.svg');
  background-repeat: no-repeat;
  background-position: 60px 65px;
}

/* working */

.working {
  margin-bottom: 96px;
  max-width: 1772px;
  min-height: 646px;
}

.working__title {
  margin-bottom: 50px;
  line-height: 59px;
}

.working__list {
  display: flex;
  flex-direction: row;
  max-width: 458px;
  justify-content: space-between;
}

.working__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.working__link {
  transition: color .5s ease-out;
}

.working__nav {
  margin-bottom: 45px;
}

.tabs-item__one {
  background-image: url('../img/working/Rimg.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
}

.tabs-item__two {
  background-image: url('../img/working/Rimg2.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
}

.tabs-item__three {
  background-image: url('../img/working/Rimg3.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
}

.tabs-item__four {
  background-image: url('../img/working/Rimg4.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
}

.working__subtitle {
  margin-bottom: 8px;
  line-height: 32px;
}

.working__descr {
  max-width: 758px;
  min-height: 320px;
  margin-bottom: 50px;
}

.working__btn_orange {
  width: 175px;
  height: 60px;
  background-color: #FF9900;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 28px;
  transition: background 1s ease-out;
}

.working__btn_alpha {
  width: 147px;
  height: 60px;
  border: 1px solid #333333;
  font-weight: 400;
  font-size: 16px;
  transition-property: background, color;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.tabs-nav__btn--active {
  color: tan;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: block;
}

/* questions */

.questions {
  margin-bottom: 100px;
}

.questions__title {
  padding-bottom: 38px;
  border-bottom: 1px solid #CACACA;
  line-height: 68px;
}

.questions__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  min-height: 111px;
  transition-property: color, border;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.acc__container {
  padding: 0 auto 40px 0;
  max-width: 1003px;
}

.acc_p {
  display: inline-block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 40px;
}

.questions__img {
  align-items: center;
  flex-shrink: 0;
}

.ui-widget {
  font-family: 'Montserrat', sans-serif;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-accordion-header-icon {
  display: none;
}

.ui-accordion .ui-accordion-header {
  margin: 0;
  font-size: 24px;
  padding: 40px 0 40px 0;
}

.ui-accordion .ui-accordion-header-active {
  padding-bottom: 30px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: none;
  background: none;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-right: 0;
  border-left: 0;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background-color: #FFFFFF;
}

.ui-accordion-header-active svg {
  transform: rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

/* footer */

.footer {
  background-color: #222222;
}

.footer__container {
  padding: 50px 75px;
  min-height: 594px;
}

.footer__sections {
  display: flex;
}

.footer__column_one {
  min-width: 252px;
  margin-right: 350px;
}

.footer__column_two {
  max-width: 570px;
  margin-right: 236px;
}

.footer__column_three {
  max-width: 363px;
}

.footer__logo {
  margin-bottom: 17px;
}

.footer__item {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 36px;
}

.footer__link {
  transition: color .5s ease-out;
}

.footer__item:last-child {
  margin-bottom: 90px;
}

.footer__link_site {
  display: inline-block;
}

.footer__link_site svg path {
  transition: fill .8s ease-out;
}

.footer__link_site:not(:last-child) {
  margin-right: 21px;
}

.footer__title {
  color: #CACACA;
  margin-bottom: 25px;
  line-height: 59px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input_name {
  max-width: 570px;
  min-height: 60px;
  background-color: #414141;
  margin-bottom: 25px;
  padding: 14px 24px;
  border: none;
  transition: background .3s ease-out;
  color: #CACACA;
}

.footer__input_email {
  max-width: 570px;
  min-height: 60px;
  background-color: #414141;
  margin-bottom: 25px;
  padding: 14px 24px;
  border: none;
  transition: background .3s ease-out;
  color: #CACACA;
}

.footer__textarea {
  max-width: 570px;
  min-height: 150px;
  background-color: #414141;
  margin-bottom: 32px;
  outline: none;
  resize: none;
  font-weight: 400;
  font-size: 16px;
  color: #CACACA;
  padding: 21px 24px;
  border: none;
  transition: background .3s ease-out;
}

.footer__checkform {
  display: flex;
  align-items: center;
}

.footer__btn {
  width: 269px;
  height: 58px;
  background-color: #FF9900;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  transition: background 1s ease-out;
}

.footer__input_checkbox {
  margin-left: 21px;
  margin-right: 4.5px;
}

.footer__label_checkbox {
  max-width: 261px;
  font-weight: 400;
  font-size: 16px;
  color: #CACACA;
}

.footer__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #CACACA;
  margin-top: 87px;
}

/* hover */

.header__link:hover {
  border-bottom: 2px solid #FF9900;
}

.preview__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background 1s ease-out;
}

.about__btn:hover {
  background-color: #FF9900;
  transition: background 1s ease-out;
}

.working__btn_orange:hover {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background 1s ease-out;
}

.footer__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background 1s ease-out;
}

.working__btn_alpha:hover {
  background-color: #666666;
  color: #FFFFFF;
  transition-property: background, color;
  transition-duration: .7s;
  transition-timing-function: ease-out;
}

.working__link:hover {
  color: #FF9900;
  transition: color .5s ease-out;
}

.questions__link:hover {
  color: #FF9900;
  border-top: 1px solid #FF9900;
  border-bottom: 1px solid #FF9900;
  transition-property: color, border;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.footer__link:hover {
  color: #FF9900;
  transition: color .5s ease-out;
}

.footer__link_site:hover svg path {
  fill: #FF9900;
  transition: fill .8s ease-out;
}

.footer__input_name:hover {
  background-color: #666666;
  transition: background .5s ease-out;
}

.footer__input_email:hover {
  background-color: #666666;
  transition: background .5s ease-out;
}

.footer__textarea:hover {
  background-color: #666666;
  transition: background .5s ease-out;
}


/* focus */

.header__link:focus {
  outline: 2px solid #FF9900;
}

.preview__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background 1s ease-out;
}

.about__btn:focus {
  background-color: #FF9900;
  transition: background 1s ease-out;
}

.working__btn_orange:focus {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background 1s ease-out;
}

.footer__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background 1s ease-out;
}

.working__btn_alpha:focus {
  background-color: #666666;
  color: #FFFFFF;
  transition-property: background, color;
  transition-duration: .7s;
  transition-timing-function: ease-out;
}

.working__link:focus {
  outline: 2px solid #FF9900;
}

.questions__link:focus {
  color: #FF9900;
  border-top: 1px solid #FF9900;
  border-bottom: 1px solid #FF9900;
  transition-property: color, border;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.footer__link:focus {
  outline: 2px solid #FF9900;
}

.footer__link_site:focus {
  outline: 2px solid #FF9900;
}

/* active */

.header__link:active {
  border-bottom: 2px solid #E1670E;
  color: #E1670E;
}

.preview__btn:active {
  background-color: #E1670E;
  transition: background .3s ease-out;
}

.about__btn:active {
  background-color: #E1670E;
  transition: background .3s ease-out;
}

.working__btn_orange:active {
  background-color: #E1670E;
  transition: background .3s ease-out;
}

.footer__btn:active {
  background-color: #E1670E;
  transition: background .3s ease-out;
}

.working__btn_alpha:active {
  background-color: #000;
  color: #FFFFFF;
  transition-property: background, color;
  transition-duration: .7s;
  transition-timing-function: ease-out;
}

.working__link:active {
  color: #E1670E;
  transition: color .5s ease-out;
}

.questions__link:active {
  color: #333333;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.footer__link:active {
  color: #E1670E;
  transition: color .5s ease-out;
}

.footer__link_site:active svg path {
  fill: #E1670E;
  transition: fill .5s ease-out;
}

@media (min-width: 3840px) {
  body {
    zoom: 200%;
  }
}

@media (max-width: 1819px) {
  .container {
    max-width: 1819px;
  }

  .working__descr {
    max-width: 437px;
  }


  .tabs-item__one {
    background-image: url('../img/working/1024.jpg');
  }

  .footer__column_one {
    margin-right: auto;
  }

  .footer__column_three {
    display: none;
  }

  .footer__column_two {
    max-width: 570px;
    margin-right: 0;
  }

  .footer__sections {
    justify-content: space-around;
  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 1366px;
  }

  .about__item_left {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    max-width: 1216px;
    width: 100%;
    height: 640px;

  }

  .about__item_alpha {
    max-width: 1216px;
    width: 100%;
  }

  .about__list {
    display: flex;
    flex-direction: column;
  }

  .about__item_right {
    margin: 0 auto;
  }

  .working__descr {
    max-width: 437px;
    min-height: 576px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .header {
    max-height: 100px;
  }

  .header__burger {
    display: inline-block;
    margin: 38px auto 38px 50px;
    width: 30px;
    height: 23px;
    cursor: pointer;
    z-index: 5000;
    flex-shrink: 0;
  }

  .header__container {
    position: relative;
  }

  .header__nav {
    position: absolute;
    margin: 0;
    padding: 162px 106px 217px 50px;
    left: 0;
    top: 0px;
    width: 420px;
    height: 768px;
    z-index: 1000;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    overflow-y: hidden;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__link {
    font-size: 24px;
  }

  .header__list {
    display: flex;
    flex-direction: column;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .header__nav_active {
    visibility: visible;
    transform: none;
  }

  .burger_active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger_active .burger__line:first-child {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: 16% 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;

  }

  .burger_active .burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: 16% 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .header__logo {
    display: block;
    margin: 26px auto 26px auto;
    width: 150px;
    height: 48px;
  }

  .header__searchspot {
    margin: auto 50px auto auto;
  }

  .main__container {
    padding: 0 50px;
  }

  .preview {
    max-width: 924px;
    height: 668px;
    margin-bottom: 80px;
  }

  .preview__title {
    max-width: 837px;
    max-height: 146px;
    margin: 160px auto 16px 77px;
    font-size: 60px;
    line-height: 73px;
  }

  .preview__descr {
    max-width: 660px;
    max-height: 48px;
    margin: 0 auto 60px 77px;
    font-size: 20px;
    line-height: 24px;
  }

  .about {
    max-width: 925px;
    margin-bottom: 80px;
  }

  .about__title {
    margin-bottom: 11px;
  }

  .about__descr {
    max-width: 925px;
    margin-bottom: 61px;
  }

  .about__item_left {
    max-width: 924px;
    width: 100%;
    background-size: cover;
  }

  .about__item_alpha {
    max-width: 924px;
  }

  .about__item_right {
    padding-left: 15px;
    padding-right: 116px;
    padding-bottom: 65px;
    max-width: 924px;
    margin: 0;
  }

  .right__item_boximg {
    background-image: url('../img/about/box.svg');
    background-repeat: no-repeat;
    background-position: 78px 64px;
  }

  .right__item_setimg {
    background-image: url('../img/about/set.svg');
    background-repeat: no-repeat;
    background-position: 78px 64px;
  }

  .working {
    margin-bottom: 75px;
  }

  .working__nav {
    margin-bottom: 50px;
  }

  .working__descr {
    max-width: 437px;
    min-height: 576px;
    margin-bottom: 25px;
  }

  .questions {
    margin-bottom: 80px;
  }

  .questions__title {
    padding-bottom: 28px;
  }

  .questions__item:nth-child(2n) {
    min-height: 124px;
  }

  .questions__link {
    font-size: 20px;
    line-height: 32px;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 20px;
    line-height: 32px;
  }

  .questions__item:nth-child(2n) .questions__link {
    max-height: 124px;
  }

  .footer__sections {
    justify-content: flex-start;
  }

  .footer__column_one {
    margin-right: 133px;
  }

  .questions__img {
    margin-left: 100px;
  }

  .footer__container {
    padding: 50px 50px;
  }

  .footer__column_two {
    max-width: 540px;
    margin-right: 0;
  }

  .footer__btn {
    max-width: 240px;
  }
}

@media (max-width: 986px) {

  .tabs-item {
    padding-top: 322px;
    background-position: top left;
  }

  .tabs-item__one {
    background-image: url('../img/working/768.jpg');
  }

}

@media (max-width: 894px) {

  .container {
    max-width: 768px;
  }

  .header__nav {
    max-height: 731px;
  }

  .header__container {
    height: 69px;
    align-items: center;
  }

  .preview {
    height: 662px;
  }

  .preview__title {
    max-width: 588px;
    max-height: 122px;
    margin: 160px auto 16px 40px;
    font-size: 50px;
    line-height: 61px;
  }

  .preview__descr {
    max-width: 588px;
    max-height: 66px;
    margin: 0 auto 60px 40px;
    font-size: 18px;
    line-height: 22px;
  }

  .preview__btn {
    margin-left: 40px;
    margin-top: auto;
  }

  .about {
    margin-bottom: 80px;
  }

  .about__descr {
    margin-bottom: 60px;
  }

  .about__item_alpha {
    max-width: 668px;
    height: 196px;
  }

  .about__item_left {
    height: 650px;
    max-width: 668px;
    width: 100%;
    background-image: url('../img/about/768.jpg');
  }

  .about__item_alpha {
    padding: 34px 40px;
  }

  .about__descr_alpha {
    max-width: 366px;
  }

  .about__btn {
    margin-top: 35px;
  }

  .about__item_right {
    padding: 35px 40px 35px 170px;
    max-width: 668px;
    min-height: 235px;
    border: 1px solid #CACACA;
  }

  .about__subtitle {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 8px;
  }

  .about__item_descr {
    margin-left: 0;
    max-width: 450px;
  }

  .right__item_boximg {
    background-image: url('../img/about/box768.svg');
    background-position: 40px 68px;
  }

  .right__item_setimg {
    background-image: url('../img/about/set768.svg');
    background-position: 40px 68px;
  }

  .working {
    margin-bottom: 81px;
  }

  .working__list {
    max-width: 668px;
  }

  .working__descr {
    max-width: 668px;
    min-height: 352px;
    margin-bottom: 24px;
  }

  .questions__title {
    line-height: 59px;
  }

  .questions__title {
    padding-bottom: 31px;
  }

  .questions__link {
    font-size: 20px;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 20px;
  }

  .questions__item:not(:nth-child(1)) .questions__link {
    padding-top: 30px;
    padding-bottom: 30px;
    max-height: none;
  }

  .questions__img {
    margin-left: 40px;
  }

  .footer__nav {
    display: none;
  }

  .footer__sections {
    display: flex;
    flex-direction: column-reverse;

  }

  .footer__column_two {
    margin-bottom: 50px;
  }
}

@media (min-width: 320px) and (max-width: 650px) {

  .container {
    max-width: 320px;
  }

  .header__burger {
    margin: 23px auto 23px 15px;
  }


  .header__nav {
    width: 320px;
    height: 377px;
  }

  .header__searchspot {
    margin: auto 15px auto auto;
    position: absolute;
    z-index: 10000;
    right: 0;
    margin: 0;
  }

  .search__input--active {
    max-width: 219px;
    margin-left: 15px;
    margin-right: 0;
  }

  .header__nav {
    margin: auto auto;
    margin-right: 15px;
  }


  .main__container {
    padding: 0 15px;
  }

  .header__logo {
    width: 110px;
    height: 35px;
    margin: auto 105px auto auto;
  }

  .header__nav {
    padding: 78px 41px 71px 15px;
    max-height: 377px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .preview {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    height: 308px;
    margin-bottom: 60px;
  }

  .swiper-wrapper {
    max-width: 290px;
    height: 308px;
  }

  .swiper-container {
    max-width: 290px;
    height: 308px;
  }

  .swiper-slide {
    max-width: 290px;
    height: 308px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .swiper-pagination {
    margin-bottom: 0;
    position: bottom;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .preview__content {
    text-align: center;
    width: 290px;
    height: 308px;
  }

  .preview__title {
    max-width: 247px;
    height: 49px;
    margin: 60px auto 6px auto;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
  }

  .preview__descr {
    max-width: 247px;
    max-height: 61px;
    margin: 0 auto 32px auto;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
  }

  .preview__btn {
    width: 162px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    margin: 0 auto;
  }

  .about {
    margin-bottom: 60px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__descr {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about__item_left {
    padding-top: 208px;
    margin: 0;
    height: 400px;
    max-width: 290px;
    width: 100%;
    background-image: url('../img/about/320.jpg');
    background-size: 100%;
    background-position: top;
    margin-bottom: 28px;
  }

  .about__item_alpha::before {
    display: none;
  }

  .about__descr_alpha {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
  }

  .about__item_alpha {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 8px;
  }

  .about__btn {
    padding: 11px 14px;
    border: 3px solid #FF9900;
    font-size: 12px;
    color: #FF9900;
    max-width: 162px;
    max-height: 40px;
    margin-top: 0;
    text-align: center;
  }

  .subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .about__item_right {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 63px;
    padding-left: 0;
    max-width: 290px;
    min-height: 249px;
    border: none;
  }

  .about__item_right:not(:last-child) {
    margin-bottom: 30px;
  }

  .about__subtitle {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 4px;
  }

  .about__item_descr {
    margin-left: 0px;
    max-width: 290px;
  }

  .right__item_boximg {
    background-image: url('../img/about/box320.svg');
    background-repeat: no-repeat;
    background-position: top left;
  }

  .right__item_setimg {
    background-image: url('../img/about/set320.svg');
    background-repeat: no-repeat;
    background-position: top left;
  }

  .working {
    margin-bottom: 60px;
  }

  .tabs-item {
    padding-top: 176px;
    background-position: top left;
  }

  .tabs-item__one {
    background-image: url('../img/working/320.jpg');
  }

  .working__title {
    margin-bottom: 17px;
  }

  .working__nav {
    margin-bottom: 15px;
  }

  .working__link {
    font-size: 14px;
  }

  .working__subtitle {
    line-height: 32px;
    ;
  }

  .working__descr {
    margin-bottom: 15px;
  }

  .working__btn_orange {
    width: 162px;
    height: 40px;
    background-color: #FF9900;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    margin-right: 5px;
  }

  .working__btn_alpha {
    width: 118px;
    height: 40px;
    border: 1px solid #333333;
    font-weight: 400;
    font-size: 12px;
  }

  .questions {
    margin-bottom: 60px;
  }

  .questions__title {
    padding-bottom: 16px;
  }

  .questions__link {
    font-size: 14px;
    line-height: 171%;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 14px;
    line-height: 171%;
  }

  .questions__img {
    width: 30px;
    height: 30px;
    margin-left: 0;
  }

  .footer__container {
    padding: 32px 14px;
  }

  .footer__btn {
    display: inline-block;
    width: 250px;
    height: 40px;
    background-color: #FF9900;
    font-size: 12px;
    margin-bottom: 19px;
    margin-left: 55px;
    margin-right: 55px;
  }

  .footer__checkform {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 21px;
    border-bottom: 1px solid #595959;
  }

  .footer__input_checkbox {
    margin: 0 4px 0 6px;

  }

  .footer__column_two {
    margin-bottom: 16px;
  }

  .footer__column_one {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .footer__img {
    width: 40px;
    height: 40px;
  }

  .footer__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    width: 131px;
    height: 42px;
  }

  .footer__title {
    margin-bottom: 21px;
  }

  .footer__input_name {
    max-width: 290px;
    min-height: 60px;
    margin-bottom: 25px;
    padding: 14px 21px;
    font-size: 14px;
  }

  .footer__input_email {
    max-width: 290px;
    min-height: 60px;
    margin-bottom: 25px;
    padding: 14px 21px;
    font-size: 14px;
  }

  .footer__textarea {
    max-width: 290px;
    min-height: 150px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 14px;
    padding: 21px 21px;
  }
}
